<html>
   <head>
      <style>
         body {
            background-color: #FA5858;
            color:#fff;
         }
         input {
            background-color: #F7D358;
            width: 300px;
            padding:10px;
            color: #000;
         }
         div#content {
            padding:20px;
            background-color: #F7D358;
            color: #000;
         }
      </style>
      <script type="text/javascript">
             function openChapter3() {
                window.open("./chapter3/index.html");
             }

             function openChapter4() {
                window.open("./chapter4/index.html");
             }
      </script>
   </head>
   <body>
      <center>
         <div>
            <input type="button" value="Challange Chapter 3" onClick="openChapter3()" /><br/>
            <input type="button" value="Challange Chapter 4" onClick="openChapter4()" /><br/>
         </div>
      </center>
   </body>
</html>